language: rust
sudo: false

cache: cargo

env:
  global:
    - RUST_BACKTRACE=1

matrix:
  include:
    - rust: 1.24.1
      env: DESCRIPTION="minimum supported Rust"
      script:
        - |
          for features in \
              "" \
              "extprim" \
              "quickcheck" \
              "extprim quickcheck"
          do
              cargo test --verbose --all --lib --features "${features}"
              cargo test --verbose --all --tests --features "${features}"
          done

    - rust: stable
      env: DESCRIPTION="stable Rust"
      script:
        - |
          for features in \
              "version-sync" \
              "extprim version-sync" \
              "quickcheck version-sync" \
              "extprim quickcheck version-sync"
          do
              cargo test --verbose --all --lib --features "${features}"
              cargo test --verbose --all --tests --features "${features}"
          done

    - rust: beta
      env: DESCRIPTION="beta Rust"
      script:
        - |
          for features in \
              "version-sync" \
              "extprim version-sync" \
              "quickcheck version-sync" \
              "extprim quickcheck version-sync"
          do
              cargo test --verbose --all --lib --features "${features}"
              cargo test --verbose --all --tests --features "${features}"
          done

    - rust: nightly
      env: DESCRIPTION="nightly Rust, clippy"
      install:
        - |
          if rustup component add clippy-preview; then
              HAS_CLIPPY=true
          else
              echo 'Could not install clippy'
              HAS_CLIPPY=false
          fi
      script:
        - |
          for features in \
              "nightly test-nightly-regressions version-sync" \
              "extprim nightly test-nightly-regressions version-sync" \
              "nightly quickcheck test-nightly-regressions version-sync" \
              "extprim nightly quickcheck test-nightly-regressions version-sync"
          do
              cargo test --verbose --all --lib --features "${features}"
              cargo test --verbose --all --tests --features "${features}"
              cargo test --verbose --all --benches --features "${features}"

              if "${HAS_CLIPPY}"; then
                  cargo clippy --verbose --all --features "${features}"
              fi
          done

    # Host documentation on <https://hcpl.github.com/serde_mtproto>
    - rust: nightly
      env: DESCRIPTION="build and upload docs"
      install:
        - cargo install cargo-update || echo "cargo-update already installed"
        - cargo install cargo-travis || echo "cargo-travis already installed"
        - cargo install-update cargo-travis
      script:
        - cargo doc --manifest-path Cargo.toml --features "extprim quickcheck"
        - cargo doc --manifest-path serde_mtproto_derive/Cargo.toml
        - git clone --depth=1 --branch gh-pages "https://github.com/${TRAVIS_REPO_SLUG}" target/gh-pages
        - |
          if [ -e "target/gh-pages/${TRAVIS_BRANCH}/index.html" ]; then
              rm -f target/doc/index.html
          else
              echo '<!DOCTYPE html>' > target/doc/index.html
              echo '<meta http-equiv="refresh" content="0; url=serde_mtproto/">' >> target/doc/index.html
              echo '<a href="serde_mtproto/">Redirect</a>' >> target/doc/index.html
          fi
        - rm -rf target/gh-pages
      after_success:
        - cargo doc-upload --message $'Automatic Travis documentation build\n\n'"${TRAVIS_COMMIT_MESSAGE}"

after_success:
  - |
    # Run benchmarks against master and PR branch
    # Adapted from <https://beachape.com/blog/2016/11/02/rust-performance-testing-on-travis-ci/>
    if [ "${TRAVIS_PULL_REQUEST}" = true ] && [ "${TRAVIS_RUST_VERSION}" = nightly ]; then
        cd "${TRAVIS_BUILD_DIR}"/.. &&
        git clone "${REMOTE_URL}" "${TRAVIS_REPO_SLUG}-bench" &&
        cd "${TRAVIS_REPO_SLUG}-bench" &&
        # Bench master
        git checkout master &&
        cargo bench > before &&
        # Bench PR'ing branch
        git checkout "${TRAVIS_COMMIT}" &&
        cargo bench > after &&
        # Compare results
        cargo install --force cargo-benchcmp &&
        cargo benchcmp --include-missing before after
    fi
